asgiref==3.8.1
blinker==1.9.0
chardet==5.2.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.8
contourpy==1.2.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
Django==5.0.6
Flask==3.1.0
fonttools==4.53.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
kiwisolver==1.4.5
MarkupSafe==3.0.2
matplotlib==3.9.1
mysqlclient==2.2.4
numpy==2.0.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
packaging==24.0
pillow==10.3.0
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.2.1
reportlab==4.2.0
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
sqlparse==0.5.0
threadpoolctl==3.5.0
tzdata==2024.1
Werkzeug==3.1.3
