/* Reset and base styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; /* Ensure at least full viewport height */
  /* background-color: #121212; */
  margin: 0;
  color: #e0e0e0;
  overflow-y: auto; /* Enable vertical scrolling */
}


/* Form styles */
.form-container {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  margin-top: 2rem;
  margin-bottom: 2rem; /* Add bottom margin to create space */
  width: 100%;
  max-width: 800px;
  font-family: "Montserrat", sans-serif;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #6a5acd;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.form-group input[type="submit"] {
  background-color: #6a5acd; /* Changed to the specified color */
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 40%;
  margin: 0 auto; /* Align center */
  display: block; /* Ensure block-level display for margin auto to work */
  border-radius: 12px;
}

.form-group input[type="submit"]:hover {
  background-color: #5a4acf; /* Darker shade on hover */
}

/* Error message styles */
.error-message {
  color: #ff4d4d; /* Red color for error messages */
  font-weight: bold; /* Bold text for better visibility */
  margin-top: 0.5rem; /* Add margin to separate from input field */
}