<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Applicant Details</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-Z4pnb9sWxJBo8xZGu4Z8qVcRg5ckK0QOvLzPv8eGdqRMUKbA32zRFGPjG0Z2nUC5SgUM0Z3whIh8c1Dl7/BOfw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/applicant_details.css' %}" />

  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
            <a href="{% url 'listings' %}" class="logo-link">TalentSphere</a>
        </div>
        <div class="nav-links">
            <a href="{% url 'user_details' %}" class="nav-item">Profile</a>
            <a href="{% url 'about' %}" class="nav-item">About</a>
            <a href="{% url 'logout' %}" class="nav-item contact-btn">Log out</a>
        </div>
    </nav>
    </header>
    <div class="content">
      <div class="profile-card">
        <div class="edit-icon">
          <a href="#"><i class="fas fa-edit"></i></a>
        </div>
        <div class="header">
          <div class="profile-pic-container">
            <img
              src="{{ applicant_details.photo.url }}"
              alt="Profile Picture"
              class="profile-pic"
            />
          </div>
          <h2>{{ applicant_details.full_name }}</h2>
          <p class="username">{{ applicant_details.called_as }}</p>
        </div>
        <div class="user-details">
          <h3>Description</h3>
          <p>{{ applicant_details.self_des }}</p>
          <p><strong>Email:</strong> {{ applicant_details.email }}</p>
          <p><strong>Address:</strong> {{ applicant_details.address }}</p>
          <div class="skills-container">
            {% for skill in skills_list %}
            <span class="skill-bubble">{{ skill }}</span>
            {% endfor %}
          </div>
          <div class="social-links">
            {% if applicant_details.linkedin_page %}
            <a href="{{ applicant_details.linkedin_page }}" target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
            {% endif %}
          </div>
          <div class="buttons-container">
            <a href="{{ applicant_details.resume.url }}" class="resume-btn"
              >Download Resume</a
            >
            <a
              href="https://mail.google.com/mail/?view=cm&fs=1&to={{ applicant_details.email }}"
              target="_blank"
              class="email-btn"
              >Send Email</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
